In [1]:
import pandas as pd
import numpy as np

In [2]:
%%timeit
df_pcd_2022 = pd.read_csv("/home/james/programming/Compare_r_python_julia/Data/NSPL_FEB_2022_UK.csv", nrows=400000)

<magic-timeit>:1: DtypeWarning: Columns (31,36) have mixed types. Specify dtype option on import or set low_memory=False.
<magic-timeit>:1: DtypeWarning: Columns (31,36) have mixed types. Specify dtype option on import or set low_memory=False.
<magic-timeit>:1: DtypeWarning: Columns (31,36) have mixed types. Specify dtype option on import or set low_memory=False.
<magic-timeit>:1: DtypeWarning: Columns (31,36) have mixed types. Specify dtype option on import or set low_memory=False.
<magic-timeit>:1: DtypeWarning: Columns (31,36) have mixed types. Specify dtype option on import or set low_memory=False.
<magic-timeit>:1: DtypeWarning: Columns (31,36) have mixed types. Specify dtype option on import or set low_memory=False.
<magic-timeit>:1: DtypeWarning: Columns (31,36) have mixed types. Specify dtype option on import or set low_memory=False.
<magic-timeit>:1: DtypeWarning: Columns (31,36) have mixed types. Specify dtype option on import or set low_memory=False.

3.89 s ± 626 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [10]:
%%timeit
df_pcd_2022.to_csv("/home/james/programming/Compare_r_python_julia/Data/df_pcd_2022_sample.csv")

In [4]:
%%timeit
df_pcd_2019 = pd.read_csv("/home/james/programming/Compare_r_python_julia/Data/ONSPD_FEB_2019_UK.csv", nrows=400000)

<ipython-input-4-8a2985451729>:1: DtypeWarning: Columns (18,31,40,45) have mixed types. Specify dtype option on import or set low_memory=False.
  df_pcd_2019 = pd.read_csv("/home/james/programming/Compare_r_python_julia/Data/ONSPD_FEB_2019_UK.csv", nrows=400000)

In [8]:
df_pcd_2019 = df_pcd_2019.sample(frac=1)

In [11]:
df_pcd_2019.to_csv("/home/james/programming/Compare_r_python_julia/Data/df_pcd_2019_sample.csv")

In [5]:
df_pcd_2019.shape

(400000, 50)

In [9]:
df_output = pd.merge(df_pcd_2019, df_pcd_2022, on=['pcd', 'pcd2','oseast1m', 'oac11','lat','long','imd', 'lsoa11', 'msoa11'], how='outer')

,pcd,pcd2,pcds_x,dointr_x,doterm_x,oscty,ced_x,oslaua,osward,parish,...,wz11_y,ccg_y,bua11_y,buasd11_y,ru11ind_y,lep1_y,lep2_y,pfa_y,calncv_y,stp_y
0,BN180WA,BN18 0WA,BN18 0WA,200007.0,200009.0,E10000032,E58001642,E07000224,E05009822,E04009864,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,BS182DH,BS18 2DH,BS18 2DH,198001.0,199708.0,E99999999,E99999999,E06000022,E05001947,E04000975,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,CA102DR,CA10 2DR,CA10 2DR,198001.0,NaN,E10000006,E58000131,E07000030,E05003208,E04002551,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,BB101YA,BB10 1YA,BB10 1YA,198001.0,NaN,E10000017,E58000757,E07000117,E05005160,E43000093,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,BD194EY,BD19 4EY,BD19 4EY,199501.0,NaN,E99999999,E99999999,E08000034,E05001393,E43000188,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
745620,CB8 9GE,CB8 9GE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,E33028758,E38000026,E34999999,E35999999,E1,E37000059,NaN,E23000023,E56000022,E54000021
745621,CB8 9GF,CB8 9GF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,E33028761,E38000026,E34004011,E35999999,E1,E37000059,NaN,E23000023,E56000022,E54000021
745622,CB8 9GG,CB8 9GG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,E33028758,E38000026,E34999999,E35999999,E1,E37000059,NaN,E23000023,E56000022,E54000021
745623,CB8 9GH,CB8 9GH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,E33024727,E38000204,E34001461,E35999999,C1,E37000052,NaN,E23000025,E56000022,E54000023
745624,CB8 9GJ,CB8 9GJ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,E33028761,E38000026,E34004011,E35999999,E1,E37000059,NaN,E23000023,E56000022,E54000021

In [ ]:
df_output.shape